.menNavegacion {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    max-width: 11vw;
    /* min-width: 5vw; */
    min-height: 0;
    min-width: 160px;
    display : flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #162135;
}

.partLog{
    display: flex;
    flex-wrap: nowrap;
    background-color:#162135;
    border-bottom: 2px solid #e6e6e6;
}

.partLog img {
    flex:1;
    width:50%;
}

.partLog a {
    padding: 8px;
    flex:1;
    text-decoration: none;
    text-align: right;
    color : #e6e6e6;
    font-size: 18px;
    align-self: right;
}

.partRemoto{
    padding-top: 8px;
    padding-bottom: 8px;
    display : flex;
    flex-wrap: nowrap;
    background-color:#162135;
    border-bottom: 2px solid #e6e6e6;
}

.partRemoto .activo {
    flex:1;
    border: 1px solid #162135;
    border-radius: 8px;
    padding: 4px 0 4px 5px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/31/Button_Icon_Green.svg');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 8px;
    background-color: #033351;
}

.partRemoto .encasa {
    flex:1;
    font-size: 12px;
    border: 1px solid #162135;
    border-radius: 8px;
    padding: 4px 0 4px 20px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/22/Home_font_awesome.svg');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 8px;
    background-color: #033351;
    color: #cccccc;
}

.partBusqueda {
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex:1;
    background-color:#162135;
    padding: 8px 4px 8px 4px;
    border-bottom: 2px solid #e6e6e6;
}

.partBusqueda input {
    flex:1;
    font-weight: 100;
    width: 150px;
    color: #797979;
    border-radius: 8px;
}

.partBusqueda img {
    flex:1;
    width:20px;
    height:20px;
    background-color: #797979;
    border-radius: 8px;
}

.padre {
    font-size: 16px;
    font-weight: 400;
    display : flex;
    flex:1;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color:#162135;
    border-bottom: 2px solid #e6e6e6;
    color:#e6e6e6;
}

.padre .Bender {
    display : flex;
    flex:1;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 14px;
    font-weight: 100;
    background-color:#162135;
}

.padre .Bender:hover{
    display : flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 400;
    background-color:#797979;
    color: #172135;
}

.padre .Bender img {
    width:12%;
    height:12%;
    padding: 4px;
}

.padre .Bender p {
    flex:1;
}

.padre .Bender a {
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 50%;
    color : #cccccc;
}

.padre .PR {
    display : flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex:1;
    font-size: 14px;
    font-weight: 100;
    background-color:#162135;
}

.padre .PR:hover{
    display : flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 400;
    background-color:#797979;
    color: #172135;
}

.padre .PR img {
    width:12%;
    height:12%;
    padding: 4px;
}

.padre .PR a {
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 50%;
    color : #cccccc;
}

.padre .Channel {
    display : flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex:1;
    font-size: 14px;
    font-weight: 100;
    background-color:#162135;
}

.padre .Channel:hover{
    display : flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 400;
    background-color:#797979;
    color: #172135;
}

.padre .Channel a {
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 50%;
    color : #cccccc;
}

.padre .Channel img {
    width:12%;
    height:12%;
    padding: 4px;
}

.padre .Channel p {
    flex:1;
}