.cabecera {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    height: 10vh;
    min-height: 50px;
    background-color: #f2f2f2;
    color: #797979;
    width: 89vw;
    display : flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex:1;
}

.cabLogos {
    display : flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex:1;
}

.imgLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLogo img{
    margin: 0;
    height:40%;
    width:40%;
}

.textLogo {
    display : flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 5%;
}

.cabTxtLogo {
    display: flex;
    flex:1;
}

.cabTxtLogo p {
    font-size: 20px;
    color:#172135;
}

.datTxtLogo {
    height: 5%;
    display : flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    flex:1;
}

.datTxtLogo img{
    height:10px;
    width:10px;
    padding: 10px;
}

.datTxtLogo p{
    font-size: 16px;
}

.datTxtLogo a{
    text-decoration: none;
    color:#49a9ea;
    border-radius: 10%;
}

.cuadBusqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
}

.cuadBusqueda input {
    padding: 0;
    background-image: url('https://png.pngtree.com/png_detail/20181019/magnifying-glass-icon-png-clipart_2947431.png');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: right;
    width: 15vw;
    height: 3vh;
    border-radius: 12%;
}

.adjunLogos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex:1;
}

.adjunLogos a {
    text-decoration: none;
    color:#797979;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.adjunLogos a:hover {
    text-decoration: underline;
    color:#49a9ea;
}